body {
    background-color: #d4d2f1;
}
h1 {
    color: #ed5bf2;
}
p {
    font-size:  large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: bold;
}
img {
    max-width: 25%;
    max-height: 25%;
}
.Enviar {
    background-color: #a5ffea;
    border-radius: 5px;
    color: #272625;
}
.etiqueta {
    background-color: #fe5de1;
}
ol li {
    font-size: 30px;
    color: rgb(255, 0, 255);
}
ul li {
    text-align: center;
    background-color: yellow;
    color: green;
    font-weight: bold;
}
h2 {
    color: #ed5bf2;
    
}